body{
    background-color: #ffff;
    color: #000;
}
.t1{
    background-color: #D7FF33;
}
.t2{
    background-color: #F06216 ;
}
.t3{
    background-color: #83F016 ;
}
.t4{
    background-color:#16F0C8;
}
.t5{
    background-color:#16C8F0;
}
.t6{
    background-color:#1689F0;
}
.t7{
    background-color:#7562AF;
}
.t8{
    background-color:#BD68BA;
}
h1{
    background-color: bisque;
    border-color:brown;
    border-radius:9.1px;
    margin: 0.1in 4.15in 0.1in 3in ;
}